<script type="text/template" id="grid-header">
	<section class="secondary-header">
		<%
		_.each(availableCategories, function(el, key){
		%>

			<span class="subcategory"><a href="#media/<%= postType %>/category=<%= encodeURI(app.helpers.makeCompressCase(key)) %>"><%= el %></a></span>

		<%
		});
		%>
	</section>
</script>