<header>
	<h1 class="post-title">
		<%= title %>
	</h1>
		<%
		if(subtitle !== ""){
		%>
			<h3><%= subtitle %></h3>
		<%
		}
		%>

	<p class="post-date">Posted on: <%= moment(date_gmt).format("Do MMMM Y") %></p>

	<% if (typeof created_by !== "undefined"){ %>
	<p class="authors"><%= created_by %></p>
	<% } %>
</header>