<div class="main-content">
	{{> _postTitleInfo }}

	<% if (typeof external_links !== "undefined"){
		print(smark.generate(external_links).html);
	} %>

	{{#ifEquals type "events"}}
		<% if(content){
			print(content);
		}else if(ebData.description){
			print(ebData.description);
		} %>

		<% if(eventbrite_url){ %>
			Visit <a href="<%= eventbrite_url %>" target=_blank>here</a> for more details.
		<% } %>
	{{else}}
		<%= content %>
	{{/ifEquals}}

	<div class="all-tags">
	<%
		_.each(tags, function(el, i){
	%>
		<a href="" class="tag"><%= el %></a>
	<%
		})
	%>
	</div>

	<a class="back-to-nav" href="#media/{{type}}"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{#titleCase}}{{type}}{{/titleCase}}</span></a>
</div>