<article class="single-post {{type}}">
	<a class="back-to-nav" href="#media/{{type}}"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{#titleCase}}{{type}}{{/titleCase}}</span></a>

	{{> _postTitleInfo }}

	{{> _postContent }}

	{{> sidebar type=extra }}
</article>