<div class="main-content">
	<% if (typeof external_links !== "undefined"){
		print(smark.generate(external_links).html);
	} %>
	<%= content %>

	<div class="all-tags">
	<%
		_.each(tags, function(el, i){
	%>
		<a href="" class="tag"><%= el %></a>
	<%
		})
	%>
	</div>

	<a class="back-to-nav" href="#media/{{type}}"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{#titleCase}}{{type}}{{/titleCase}}</span></a>
</div>