<header>
	<a class="back-to-nav" href="#media/{{type}}"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{#titleCase}}{{type}}{{/titleCase}}</span></a>

	<h1 class="post-title">
		<%= title %>
	</h1>
		<%
		if(subtitle !== ""){
		%>
			<h3><%= subtitle %></h3>
		<%
		}
		%>

	<p class="post-date">Posted on: <%= moment(date_gmt).format("Do MMMM Y") %></p>

	<% if (typeof created_by !== "undefined"){ %>
	<p class="authors"><%= created_by %></p>
	<% } %>
</header>