<script type="text/template" id="directories-card-view">
	<a href="
		<% if(typeof external_links !== "undefined" && smark.generate(external_links).type == "link"){ %>
			<%= external_links %>" target="_blank"
		<% }else{ %>
			<%= '#media/' + appData + '/post=' + slug %>"
		<% } %>

		class="grid-item level-<%= level %>
		<% if(category == "Audio"){
			print(" bg-light-blue");
		}else if(category == "Video"){
			print(" bg-light-green");
		}else if(category == "Reading"){
			print(" bg-light-purple");
		}else if(category == "Tools & Platforms"){
			print(" bg-light-grey");
		} %>

		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container">
				<img class="bg-image" src="<%= cover_photo %>">
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category" data-href="#media/<%= appData %>/category=<%= encodeURI(app.helpers.makeCompressCase(category)) %>"><%= app.helpers.makeTitleCase(category) %></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext">

		<%
		_.each(tags, function(el, i){
			var str = el;
			if(i < tags.length - 1){
				str += ", ";
			}
			print(str);
		});
		%>
		</p>
	</a>
</script>

<script type="text/template" id="directories-4column-card">
	<a href="
		<% if(typeof external_links !== "undefined" && smark.generate(external_links).type == "link"){ %>
			<%= external_links %>" target="_blank"
		<% }else{ %>
			<%= '#media/' + appData + '/post=' + slug + '"'%>
		<% } %>

		class="grid-item
		<%
			if(category == "Audio"){
				print(" bg-light-blue");
			}else if(category == "Video"){
				print(" bg-light-green");
			}else if(category == "Reading"){
				print(" bg-light-purple");
			}else if(category == "Tools & Platforms"){
				print(" bg-light-grey");
			}

			if(cover_photo !== false) print('with-image')
		%>">

		<% if(cover_photo !== false){ %>

		<div class="card-title">
			<img class="feature-image" src="<%= cover_photo %>">

			<h3 class="title"><%= title %></h3>

			<p class="authors"><%= created_by %></p>
		</div>

		<% }else{ %>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){ %>
				<h4 class="subtitle"><%= subtitle %></h4>
			<% } %>

			<p class="authors"><%= created_by %></p>
		</div>

		<% } %>
	</a>
</script>

<script type="text/template" id="directories-grid-header">
	<section class="directories-header">
		<span class="subcategory"><a href="#media/directories/category=video">Video</a></span>
		<span class="subcategory"><a href="#media/directories/category=audio">Audio</a></span>
		<span class="subcategory"><a href="#media/directories/category=reading">Reading</a></span>
		<span class="subcategory"><a href="#media/directories/category=tools%26platforms">Tools &amp; Platforms</a></span>

		<span class="search-topic"><a href="#media/directories">Search by Topic</a></span>
	</section>
</script>

<script type="text/template" id="directories-single-view">
	<article class="single-post directories">
		<div class="main-content">
			<a class="back-to-nav" href="#media/directories"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>Directories</span></a>

			<div class="media">
				<%
					var sObject = smark.generate(external_links);
					if(sObject.type == "youtube" || sObject.type == "vimeo"){
						print(sObject.html);
					}else{
						var $element = $(external_links);
						$element.addClass("smark");
						print($element.clone().wrap('<div/>').parent().html());
					}
				%>
			</div>

			{{> _postTitleInfo }}

			<div class="all-tags">
			<%
				_.each(tags, function(el, i){
			%>
				<a href="" class="tag"><%= el %></a>
			<%
				})
			%>
			</div>

			<a class="back-to-nav" href="#media/directories"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span>Directories</span></a>
		</div>

		{{> sidebar type=true }}
	</article>
</script>