<script type="text/template" id="events-card-view">
	<article class="grid-item level-<%= level %>">
		<p class="card-category"><a href="#"><%= category %></a></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}

			console.log(date);
			console.log(new Date(Date.parse(date)));
			%>
		</div>

		<p class="card-subtext">
			{{!-- <%= date %> --}}
			<%
				var eventDate = new Date(Date.parse(date));
				var day = eventDate.toDateString();
				var hour = eventDate.getHours().toString();
				var minute = eventDate.getMinutes().toString();

				if (hour.length == 1){
					hour = "0" + hour;
				}

				if (minute.length == 1){
					minute = "0" + hour;
				}

				var time = hour + ":" + minute;

				print(day + ", " + time);
			%>
			<br><%= location %>
		</p>
	</article>
</script>

<script type="text/template" id="events-single-view">
	<article>
		<h1><%= title %></h1>

		<div class="media-content">
		<%= content %>
		</div>
	</article>

	<div class="sidebar">
		<div class="info">
			<p>
				<%= date %><br>
				<%= time %>
			</p>
			<p>
				<%= address %>
			</p>
		</div>

		<div class="social-media">

		</div>

		<div class="upcoming">

		</div>
	</div>
</script>