<script type="text/template" id="events-card-view">
	<a id="<%= slug %>" href="
		<% if(typeof external_links !== "undefined" && smark.generate(external_links).type == "link"){ %>
			<%= external_links %>" target="_blank"
		<% }else{ %>
			<%= '#media/' + appData + '/post=' + slug %>"
		<% } %>

		class="grid-item level-<%= level %>
		<% if(category == "Futures"){
			print(" bg-light-blue");
		}else if(category == "UAL"){
			print(" bg-light-green");
		}else if(category == "External"){
			print(" bg-light-purple");
		} %>

		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container" style="background-image: url('<%= cover_photo %>'); background-size: cover; background-repeat: no-repeat; background-position: center; background-color: #6159f5; background-blend-mode: multiply;">
				{{!-- <img class="bg-image" src="<%= cover_photo %>"> --}}
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category" data-href="#media/<%= appData %>/category=<%= encodeURI(app.helpers.makeCompressCase(category)) %>">
			<%
			if(typeof fullCategory == "undefined"){
				print(app.helpers.makeTitleCase(category));
			}else{
				print(app.helpers.makeTitleCase(fullCategory));
			}
			%>
		</p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext">
			<%
				var date = {}
				date.year = event_date.slice(0, 4);
				date.month = event_date.slice(5, 7);
				date.day = event_date.slice(8, 10);
				date.hour = event_date.slice(11, 13);
				date.minute = event_date.slice(14, 16);
				var dateObject = new Date(date.year, date.month-1, date.day, date.hour, date.minute);
				date.weekday = dateObject.getDay();

				switch(date.weekday){
					case 0:
						date.weekday = "Sun";
						break;
					case 1:
						date.weekday = "Mon";
						break;
					case 2:
						date.weekday = "Tue";
						break;
					case 3:
						date.weekday = "Wed";
						break;
					case 4:
						date.weekday = "Thu";
						break;
					case 5:
						date.weekday = "Fri";
						break;
					case 6:
						date.weekday = "Sat";
						break;
				}

				var time = date.hour + ":" + date.minute;

				print(date.weekday + ", " + date.year + "/" + date.month + "/" + date.day + ", " + time);
			%>
			<br><%= location %>
		</p>
	</a>
</script>

<script type="text/template" id="events-single-view">
	{{> _postSingleTemplate type="events" }}
</script>