<script type="text/template" id="features-card-view">
	<a href="<%= '#media/' + appData + '/post=' + slug %>" class="grid-item level-<%= level %>
		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container">
				<img class="bg-image" src="<%= cover_photo %>">
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category" data-href="#media/<%= appData %>"><%= app.helpers.makeTitleCase(category) %></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext">

		<%
		_.each(tags, function(el, i){
			var str = el;
			if(i < tags.length - 1){
				str += ", ";
			}
			print(str);
		});
		%>
		</p>
	</a>
</script>

<script type="text/template" id="features-single-view">
	{{> _postSingleTemplate type="features" extra=true }}
</script>