<script type="text/template" id="features-card-view">
	<a id="<%= slug %>" href="<%= '#media/' + appData + '/post=' + slug %>" class="grid-item level-<%= level %>
		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container" style="background-image: url('<%= cover_photo %>'); background-size: cover; background-repeat: no-repeat; background-position: center; background-color: #6159f5; background-blend-mode: multiply;">
				{{!-- <img class="bg-image" src="<%= cover_photo %>"> --}}
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category" data-href="#media/<%= appData %>"><%= app.helpers.makeTitleCase(category) %></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext">

		<%
		_.each(tags, function(el, i){
			var str = "<span data-href='";
			str += "#media/tags=" + encodeURIComponent(el);
			str += "' class='card-tag'>";
			str += el;
			str += "</span>"
			if(i < tags.length - 1){
				str += ", ";
			}
			print(str);
		});
		%>
		</p>
	</a>
</script>

<script type="text/template" id="features-single-view">
	{{> _postSingleTemplate type="features" extra=true }}
</script>