<script type="text/template" id="features-card-view">
	<article href="<%= 'media/' + appData + '/post=' + slug %>" class="grid-item level-<%= level %>
		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container">
				<img class="bg-image" src="<%= cover_photo %>">
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category"><a href="#"><%= app.helpers.makeTitleCase(category) %></a></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext">

		<%
		_.each(tags, function(el, i){
			var str = '<a href="#">';
			str += el;
			str += "</a>"
			if(i < tags.length - 1){
				str += ", ";
			}
			print(str);
		});
		%>
		</p>
	</article>
</script>

<script type="text/template" id="features-single-view">
	<article class="features">
		<header>
			<p class="category-link"><a href=""><%= category %></a></p>
			<h1 class="post-title">
				<%= title %>
				<%
				if(subtitle !== ""){
				%>
					<br><%= subtitle %>
				<%
				}
				%>

			</h1>
			<p class="post-date">Posted on: <%= moment(date_gmt).format("Do MMMM Y") %></p>
		</header>

		<div class="main-content">
			<%= content %>
		</div>

		<div class="sidebar">
			<div><p>Sample content</p></div>
			<div class="social-media"></div>
			<div class="related"></div>
		</div>
	</article>
</script>