<script type="text/template" id="media-card-view">
	<article class="grid-item level-<%= level %>">
		<p class="card-category"><a href="#"><%= category %></a></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<% 
		if (level == "1" || level == "2"){
			print('<p class="card-subtitle">' + subtitle + '</p>');
		}
		%>

		<p class="card-subtext">

		<%
		_.each(tags, function(el, i){
			console.log(el);
			var str = '<a href="#">';
			str += el;
			str += "</a>"
			if(i < tags.length - 1){
				str += ", ";
			}
			print(str);
		});
		%>
		</p>
	</article>
</script>

<script type="text/template" id="media-single-view">
	<article>
		<h1><%= title %></h1>
		<p>Posted on: <%= date %></p>

		<div class="media-content">
		<%= content %>
		</div>
	</article>
</script>