<script type="text/template" id="opps-card-view">
	<article class="grid-item level-<%= level %>">
		<p><a href="#"><%= category %></a></p>

		<h3 class="card-title"><%= title %></h3>

		<p><%= area %><br>for <%= poster %></p>
	</article>
</script>

<script type="text/template" id="opps-single-view">
	<article>
		<h1><%= title %></h1>
		<p>Posted on: <%= date %></p>

		<div class="media-content">
		<%= content %>
		</div>
	</article>
</script>