<script type="text/template" id="opps-card-view">
	<article href="<%= 'media/' + appData + '/post=' + slug %>" class="grid-item level-<%= level %>
		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container">
				<img class="bg-image" src="<%= cover_photo %>">
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category"><a href="#"><%= app.helpers.makeTitleCase(category) %></a></p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext"><%= tags[0] %><br>for <%= poster %></p>
	</article>
</script>

<script type="text/template" id="opps-single-view">
	<article>
		<h1><%= title %></h1>
		<p>Posted on: <%= date %></p>

		<div class="media-content">
		<%= content %>
		</div>
	</article>
</script>