<script type="text/template" id="opps-card-view">
	<a href="
		<% if(typeof external_links !== "undefined" && smark.generate(external_links).type == "link"){ %>
			<%= external_links %>" target="_blank"
		<% }else{ %>
			<%= '#media/' + appData + '/post=' + slug %>"
		<% } %>

		class="grid-item level-<%= level %>
		<% if(category == "Internships"){
			print(" bg-light-blue");
		}else if(category == "Freelance"){
			print(" bg-light-green");
		}else if(category == "Full-Time"){
			print(" bg-light-purple");
		}else if(category == "Part-Time"){
			print(" bg-light-grey");
		}else if(category == "Competition"){
			print(" bdr-light-green");
		}else if(category == "Open Call"){
			print(" bdr-light-blue");
		} %>

		<%
			if(cover_photo !== false){
				print(' with-bg-image ">');
		%>
			<div class="bg-image-container">
				<img class="bg-image" src="<%= cover_photo %>">
			</div>
		<%
			}else{
				print('">');
			}
		%>

		<p class="card-category" data-href="#media/<%= appData %>/category=<%= encodeURI(app.helpers.makeCompressCase(category)) %>">
			<%
			if(typeof fullCategory == "undefined"){
				print(app.helpers.makeTitleCase(category));
			}else{
				print(app.helpers.makeTitleCase(fullCategory));
			}
			%>
		</p>

		<div class="card-title">
			<h3 class="title"><%= title %></h3>
			<% if (subtitle !== ""){
			%>
			<h4 class="subtitle"><%= subtitle %></h4>
			<%
			}
			%>
		</div>

		<p class="card-subtext"><%= tags[0] %><br>for <%= poster %></p>
	</a>
</script>

<script type="text/template" id="opps-single-view">
	{{> _postSingleTemplate type="opportunities" }}
</script>