<script type="text/template" id="slideshow-template">
	<div class="slideshow">
	<% if(typeof slideshow !== "undefined"){ %>

		<% for (var i = 1; i <= slideshow.size; i++){ %>
			<% if(typeof slideshow["url_" + i] != "undefined") print("<a href='" + slideshow["url_" + i] + "'>");%>

			<div class="slide">
			<% if(slideshow["slide_" + i] == "Text"){ %>
				<h1><%= slideshow["text_" + i] %></h1>
			<% }else{ %>
				<img src="<%= slideshow['image_' + i] %>">
			<% } %>
			</div>

			<% if(typeof slideshow["url_" + i] != "undefined") print("</a>");%>
		<% } %>

	<% } %>
	</div>
</script>

<script type="text/template" id="slideshow-template-arrow-left">
	{{> arrow-left.svg }}
</script>

<script type="text/template" id="slideshow-template-arrow-right">
	{{> arrow-right.svg }}
</script>