<div class="sidebar">
	{{#unless type}}
	<div><p>Sample content</p></div>
	{{/unless}}

	<div class="social-media">
		{{> socialMedia }}
	</div>
	<div class="related">
		<p>Related Posts:</p>
		{{!-- Pending --}}
	</div>
</div>