<div class="sidebar">
	{{#unless type}}
	<div class="additional-info">
		<p>
			<% if (appData == "events" && ebData !== null){
				print(moment(ebData.startTime).format("ddd D MMMM YYYY"));
				print("<br>" + moment(ebData.startTime).format("HH:mm") + " - " + moment(ebData.endTime).format("HH:mm"));
				print("<br>" + ebData.address);
			}else if (appData == "opportunities"){
				print(opps_info);
			} %>
		</p>
	</div>
	{{/unless}}

	<div class="social-media">
		{{> socialMedia }}
	</div>
	<div class="related">
		<p>Related Posts:</p>
		{{!-- Pending --}}
	</div>
	<script type="text/template" id="related-template">
		<a href="#media/<%= appData %>/<%= slug %>"><%= title %></a>
	</script>
</div>