.single-post{
	display: flex;
	flex-wrap: wrap;

	.back-to-nav{
		.secondary-font;

		color: @purple;
		font-size: 1rem;

		span{
			font-size: 1.7rem;
		}
	}

	header{
		width: 100%;

		.category-link{
			.secondary-font;

			margin: 0;
			font-size: 1.5rem;

			a{
				color: @dark-purple;
			}
		}

		.post-title{
			.title-font;

			margin-top: 40px;
			margin-bottom: 20px;
			font-size: 2.7rem;
			line-height: 3rem;
			font-weight: bold;

			@media @small{
				font-size: 2rem;
			}
		}

		.post-date, .authors{
			.secondary-font;

			margin: 0;
			font-size: 1.5rem;
		}

		.authors{
			margin-top: 0.2rem;
		}
	}

	.main-content{
		.body-font;

		position: relative;
		width: 62%;
		font-size: 1.5rem;
		line-height: 1.9rem;

		@media @small{
			width: 100%;
		}

		p img{
			width: 100%;
			height: auto;
		}

		p:first-of-type{
			margin-top: 2rem;
		}

		blockquote{
			margin-left: 0;
			font-weight: bold;
			font-size: 1.5em;
			line-height: 1.2em;

			@media @small{
				width: 100%;
				font-size: 1.2em;
			}
		}

		.all-tags{
			margin: ~"calc(70px - 2.5rem)" 0;

			@media @small{
				margin: 1rem 0;
			}

			.tag{
				padding: 0.5rem 1.5rem;
				color: @purple;
				margin-right: 2.5rem;
				border: solid 2px @purple;
				line-height: 5rem;
			}
		}
	}

	@import "sidebar.less";
}

@import "features.less";
@import "directory.less";
@import "events.less";
@import "opportunities.less";