<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>UAL Futures</title>

<!-- for Google -->
<meta name="description" content="Exploring the futures of creativity and learning where Technology meets Art, Design, Fashion, Communications and Performance." />
<meta name="keywords" content="" />

<meta name="author" content="UAL Futures" />
<meta name="copyright" content="" />
<meta name="application-name" content="" />

<!-- for Facebook -->
<meta property="og:title" content="UAL Futures" />
<meta property="og:type" content="article" />
<meta property="og:image" content="images/Futures_FB.png" />
<meta property="og:url" content="http://ualfutures.studio" />
<meta property="og:description" content="Exploring the futures of creativity and learning where Technology meets Art, Design, Fashion, Communications and Performance." />

<!-- for Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ualfutures">
<meta name="twitter:title" content="UAL Futures" />
<meta name="twitter:description" content="Exploring the futures of creativity and learning where Technology meets Art, Design, Fashion, Communications and Performance." />
<meta name="twitter:image" content="http://ualfutures.studio/images/Futures_T.png" />

<!-- author info -->
<meta name="author" content="Kenneth Lim <limzy.kenneth@gmail.com> (http://designerken.be)" />
<link rel="author" href="http://designerken.be"/>

<!--iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
