&.directories-grid{
	.grid-item{
		width: ~"calc(75vw / 4 - 20px)";
		height: ~"calc((75vw / 3 - 20px) * 0.9)";

		@media @large{
			width: ~"calc(75vw / 3 - 20px)";
		}

		@media @small{
			width: 100%;
			height: ~"calc(75vw - 20px)";
		}

		&.with-image{
			.card-title{
				.title{
					font-size: @medium-font;
				}

				.feature-image{
					max-width: 100%;
					filter: url("#purple");
				}
			}
		}

		.card-title{
			text-align: left;

			.subtitle{
				margin-top: 2rem;
				font-size: @medium-font;

				@media @large{
					font-size: 1rem;
				}
			}
		}

		.authors{
			position: absolute;
			bottom: 0;
		}
	}
}