&.directory-grid{
	.grid-item{
		width: ~"calc(75vw / 4 - 20px)";
		height: ~"calc((75vw / 3 - 20px) * 0.9)";

		@media @large{
			width: ~"calc(75vw / 3 - 20px)";
			height: ~"calc(100vw / 3 - 20px)";
		}

		@media @small{
			width: 100%;
			height: ~"calc(75vw - 20px)";
		}

		&.with-image{
			.card-title{
				.title{
					font-size: @medium-font;
					margin-top: 1em;
				}

				.feature-image{
					width: 100%;
					height: auto;
					// filter: url("#purple");
				}
			}
		}

		.card-title{
			text-align: left;

			.title{
				margin-top: 0.1rem;
			}

			.subtitle{
				margin-top: 2rem;
				font-size: @medium-font;

				@media @large{
					font-size: 1rem;
				}
			}
		}

		.authors{
			position: absolute;
			bottom: 0;
		}
	}
}