#page-header{
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 90px;
	z-index: 999;
	font-size: 1rem;
	transition: height 0.5s ease;

	&.small{
		height: 60px;

		.ual{
			img{
				width: 47px;
				top: 19px;
			}
		}

		.nav-container{
			.logo{
				margin-top: 19px;
			}

			.ualfutures-logo{
				height: 21px;
			}

			.main-nav{
				transform: translateY(100%);
				font-size: 20px;
			}
		}
	}

	&.large{
		.ual{
			img{
				width: 65px;
				top: 29px;
			}
		}

		.nav-container{
			.logo{
				margin-top: 29px;
			}

			.ualfutures-logo{
				height: 29px;
			}

			.main-nav{
				transform: translateY(150%);
				font-size: 22px;
			}
		}
	}

	&.home-page{
		position: relative;

		.full-width-container{
			background-color: rgba(255, 255, 255, 0);
			color: @purple;

			.ual{
				filter: brightness(0.25) url("#purple");;
			}

			.nav-container{
				text-align: center;

				.logo{
					display: inline-block;

					.ualfutures-logo{
						.a{
							fill: @purple;
						}
					}
				}

				.main-nav{
					display: none;
				}
			}

			.home-menu{
				.title-font;

				display: block;
				position: absolute;
				right: 2rem;
				top: 2.7rem;
				font-size: 1.5rem;
				cursor: pointer;

				p{
					margin: 0;
				}
			}
		}

		.nav-dropdown{
			display: none;
		}

		.nav-slide-in{
			.title-font;

			display: none;
			position: absolute;

			right: ~"calc(0px - 15em)";
			transition: right 0.3s ease;

			padding-right: 2rem;
			text-align: right;
			font-size: 1.2rem;
			line-height: 2rem;
			margin-top: -1rem;
			z-index: 10;

			&.in{
				right: 0;
			}

			ul{
				list-style: none;
				margin: 0;

				li{
					background-color: @white;
					padding-left: 1rem;
				}
			}

			.tier-0{
				padding-left: 0;

				li:last-child{
					padding-bottom: 1rem;
				}
			}

			.tier-1{
				padding-left: 0;
				padding-right: 1rem;
			}
		}
	}

	.full-width-container{
		background: @purple;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 5;
		color: @white;

		.ual{
			display: block;

			@media @small{
				display: inline-block;
			}

			img{
				position: absolute;
				margin-left: 3em;
				height: auto;
				display: inline-block;
				transition: all 0.5s ease;

				@media @small{
					position: relative;
					top: 0px;
				}
			}
		}

		.nav-container{
			width: 75vw;
			margin: 0 ~"calc(12.5% - 10px)";

			.logo{
				.title-font;

				display: inline-block;
				transition: all 0.5s ease;

				@media @small{
					width: 200px;
				}

				.ualfutures-logo{
					width: auto;
					transition: all 0.5s ease;

					.a{
				        fill: #fff;
				    }
				}
			}

			.main-nav{
				.title-font;

				display: inline-block;
				float: right;
				transition: all 0.5s ease;

				span{
					margin: 0 2.5rem;

					&.active, &:hover{
						border-bottom: 2px solid;
					}

					a{
						color: @white;
					}
				}
			}
		}

		.home-menu{
			display: none;
		}
	}

	.nav-dropdown{
		position: relative;
		transform: translateY(-100%);
		width: 100%;
		background-color: @light-green;
		transition: transform 0.3s ease;
		height: 53px;
		padding: 17px 0;

		.dropdown-container{
			width: ~"calc(75vw - 20px)";
			margin: 0 ~"calc(12.5% - 10px)";

			.sub-menu{
				float: right;
				font-size: 1.35rem;

				span{
					padding-left: 35px;

					a{
						&:hover, &.active{
							border-bottom: 2px solid;
						}
					}
				}
			}
		}
	}

	.nav-slide-in{
		display: none;
	}
}