#page-header{
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 90px;
	z-index: 999;
	font-size: 1rem;
	transition: height 0.5s ease;

	&.small{
		height: 60px;

		.ual{
			img{
				width: 47px;
			}
		}

		.nav-container{
			.logo{
				margin-top: 1.2%;
			}

			.ualfutures-logo{
				width: 110px;
			}

			.main-nav{
				margin-top: 1.8%;
				font-size: 1.3rem;
			}
		}
	}

	&.large{
		.ual{
			img{
				width: 65px;
			}
		}

		.nav-container{
			.logo{
				margin-top: 2.5%;
			}

			.ualfutures-logo{
				width: 170px;
			}

			.main-nav{
				margin-top: 3%;
				font-size: 1.3rem;
			}
		}
	}

	.full-width-container{
		background: @purple;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 5;
		color: #fff;

		.ual{
			display: block;

			@media @small{
				display: inline-block;
			}

			img{
				position: absolute;
				top: 30%;
				margin-left: 3em;
				height: auto;
				display: inline-block;
				transition: all 0.5s ease;

				@media @small{
					position: relative;
					top: 0px;
				}
			}
		}

		.nav-container{
			width: 80%;
			max-width: 1100px;
			margin: 0 auto;

			.logo{
				.title-font;

				display: inline-block;
				transition: all 0.5s ease;

				@media @small{
					width: 200px;
				}

				.ualfutures-logo{
					height: auto;
					transition: all 0.5s ease;

					.a{
				        fill: #fff;
				    }
				}
			}

			.main-nav{
				.title-font;

				display: inline-block;
				float: right;
				transition: all 0.5s ease;

				span{
					margin: 0 2.5rem;

					&.active, &:hover{
						border-bottom: 2px solid;
					}
				}
			}
		}
	}

	.nav-dropdown{
		position: relative;
		transform: translateY(-100%);
		width: 100%;
		background-color: @light-green;

		.dropdown-container{
			width: 80%;
			max-width: 1100px;
			margin: 0 auto;

			.breadcrumbs{
				p{
					.title-font;

					margin: 0;
					padding: 1rem 0;
					color: @black;
				}
			}
		}
	}
}