#page-header{
	// Other pages ----------------------------------------------------------------------
	.main-header{
		top: 0px;
		position: fixed;
		width: 100vw;
		height: 90px;
		z-index: 999;
		font-size: 1rem;
		transition: height 0.5s ease, opacity 0.2s ease;

		@media @small{
			display: block !important;
			opacity: 1 !important;
		}

		@media @small{
			height: 60px;
		}

		.full-width-container{
			background-color: @purple;
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 5;
			color: @white;

			.ual{
				display: block;

				@media @small{
					display: inline-block;
				}

				#Layer_1{
					position: absolute;
					margin-left: 3em;
					height: auto;
					display: inline-block;
					transition: all 0.5s ease;
					width: 65px;
					top: 29px;

					@media @small{
						width: 47px;
						top: 19px;
						margin-left: 1rem;
					}

					.cls-1{
						fill: @white;
					}
				}
			}

			.nav-container{
				width: 75vw;
				margin: 0 ~"calc(12.5% - 10px)";

				@media @small{
					text-align: center;
					margin: 0 auto;
				}

				.logo{
					.title-font;

					display: inline-block;
					transition: all 0.5s ease;
					margin-top: 29px;

					@media @small{
						width: 200px;
						display: inline-block;
						margin-top: 5px;
					}

					.ualfutures-logo{
						width: auto;
						transition: all 0.5s ease;
						height: 29px;

						@media @small{
							height: 21px;
						}

						.a{
					        fill: #fff;
					    }
					}
				}

				.main-nav{
					.title-font;

					display: inline-block;
					float: right;
					transition: all 0.5s ease;
					transform: translateY(150%);
					font-size: 22px;

					@media @small{
						display: none;
					}

					span{
						margin: 0 2.5rem;

						&.active, &:hover{
							border-bottom: 2px solid;
						}

						a{
							color: @white;
						}
					}
				}
			}
		}

		.nav-dropdown{
			position: relative;
			transform: translateY(-100%);
			width: 100%;
			background-color: @light-green;
			transition: transform 0.3s ease;
			height: 53px;
			padding: 17px 0;

			@media @small{
				display: none;
			}

			.dropdown-container{
				width: ~"calc(75vw - 20px)";
				margin: 0 ~"calc(12.5% - 10px)";

				.sub-menu{
					float: right;
					font-size: 1.35rem;

					span{
						padding-left: 35px;

						a{
							color: @dark-purple;

							&:hover, &.active{
								border-bottom: 2px solid;
							}
						}
					}
				}
			}
		}

		.mobile-menu-toggle{
			display: none;
			position: absolute;
			right: 10px;
			top: 15px;
			padding: 5px;
			cursor: pointer;

			@media @small{
				display: inline-block;
			}
		}

		.mobile-menu{
			display: none;
			text-align: center;
			background-color: @purple;
			transform: translateX(100%);
			transition: transform 0.5s ease;

			&.nav-slide-in{
				transform: translateX(0%);
			}

			@media @small{
				display: block !important;
			}

			ul{
				.title-font;

				list-style: none;
				padding: 0;
				margin: 0;
				font-size: 2rem;

				li a{
					color: @black;
				}
			}

			.tier-0{
				height: ~"calc(100vh - 110px)";

				&>li{
					padding-top: 1.5rem;
				}
			}

			.tier-1{
				&>li{
					line-height: 2.5rem;
				}
			}
		}

		&.small{
			height: 60px;

			.ual{
				#Layer_1{
					width: 47px;
					top: 19px;
				}
			}

			.nav-container{
				.logo{
					margin-top: 19px;

					@media @small{
						margin-top: 5px;
					}

					.ualfutures-logo{
						height: 21px;
					}
				}

				.main-nav{
					transform: translateY(100%);
					font-size: 20px;
				}
			}
		}
	}


	// Home page -----------------------------------------------------------------------------
	.home-header{
		height: 90px;

		@media @small{
			display: none;
		}

		.full-width-container{
			background-color: rgba(255, 255, 255, 0);
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 5;
			color: @purple;

			.ual{
				display: block;

				@media @small{
					display: inline-block;
				}

				#Layer_1{
					position: absolute;
					margin-left: 3em;
					height: auto;
					display: inline-block;
					transition: all 0.5s ease;
					width: 65px;
					top: 29px;

					@media @small{
						position: relative;
					}

					.cls-1{
						fill: @purple;
					}
				}
			}

			.nav-container{
				width: 75vw;
				margin: 0 ~"calc(12.5% - 10px)";
				text-align: center;

				.logo{
					.title-font;

					display: inline-block;
					margin-top: 29px;

					@media @small{
						width: 200px;
					}

					.ualfutures-logo{
						width: auto;
						height: 29px;

						.a{
							fill: @purple;
						}
					}
				}
			}

			.home-menu{
				.title-font;

				display: block;
				position: absolute;
				right: 2rem;
				top: 2.7rem;
				font-size: 1.5rem;
				cursor: pointer;

				p{
					margin: 0;
				}
			}
		}

		.nav-slide-in{
			.title-font;

			display: none;
			position: absolute;

			right: ~"calc(0px - 15em)";
			transition: right 0.3s ease;

			padding-right: 2rem;
			text-align: right;
			font-size: 1.2rem;
			line-height: 2rem;
			margin-top: -1rem;
			z-index: 10;

			&.in{
				right: 0;
			}

			ul{
				list-style: none;
				margin: 0;

				li{
					background-color: @white;
					padding-left: 1rem;
				}
			}

			.tier-0{
				padding-left: 0;

				li:last-child{
					padding-bottom: 1rem;
				}
			}

			.tier-1{
				padding-left: 0;
				padding-right: 1rem;
			}
		}
	}
}
