/* default settings (layout only, NOT for typographic details) */
a {
  text-decoration: none;
  color: #272964;
}
body {
  background-color: #C9FEE8;
  font-family: "Inconsolata", monospace;
  color: #272964;
  font-size: 16pt;
}
/* default typography presets */
h1 {
  font-family: 'graphik_webbold', 'Helvetica', sans-serif;
  font-size: 3em;
}
h2 {
  font-family: 'graphik_webbold', 'Helvetica', sans-serif;
  font-size: 2em;
}
p a:link {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
/* custom modifications */
#page-header {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  height: 10vw;
  font-weight: bold;
  font-family: 'graphik_webbold', 'Helvetica', sans-serif;
  -webkit-transition: height 0.5s ease;
          transition: height 0.5s ease;
}
#page-header.active {
  position: fixed;
  height: 200px;
}
#page-header span {
  margin-right: 4em;
}
#page-header span h2 {
  display: inline-block;
}
#page-content {
  width: 100vw;
}
#page-content section {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}
