@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* default settings (layout only, NOT for typographic details) */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #623ef9;
}
body {
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif;
  color: #623ef9;
  font-size: 16pt;
  background: #faf8f8 url(img/ual-futures-dot-background.png);
}
/* default typography presets */
h1 {
  font-family: 'Graphik', 'Helvetica', sans-serif;
  font-size: 3em;
}
h2 {
  font-family: 'Graphik', 'Helvetica', sans-serif;
  font-size: 2em;
}
p a:link {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
/* custom modifications */
#page-header {
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 0px;
  background: #623ef9;
  z-index: 9999;
  color: #fff;
}
#page-header .ual {
  display: block;
}
@media only screen and (max-width: 700px) {
  #page-header .ual {
    display: inline-block;
  }
}
#page-header .ual img {
  position: absolute;
  top: 23px;
  margin-left: 1.5rem;
  width: 65px;
  height: auto;
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  #page-header .ual img {
    position: relative;
    top: 0px;
  }
}
#page-header .logo {
  font-family: 'Graphik', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 37px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 26px;
  width: 75%;
  max-width: 1100px;
}
#page-header .logo a {
  color: #fff;
}
@media only screen and (max-width: 700px) {
  #page-header .logo {
    width: 200px;
    display: inline-block;
  }
}
#page-content {
  width: 100%;
}
#page-content .gif-popup {
  display: none;
  position: absolute;
  top: 270px;
  left: 200px;
}
#page-content .gif-popup img {
  width: 50vw;
  height: auto;
}
#page-content .coming-soon {
  font-family: 'Graphik', 'Helvetica', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-top: 120px;
  width: 75%;
  max-width: 1100px;
}
@media only screen and (max-width: 700px) {
  #page-content .coming-soon {
    width: 80%;
  }
}
#page-content .coming-soon p em {
  font-style: normal;
  color: #271e68;
}
#page-content .coming-soon #mc_embed_signup {
  clear: left;
  padding-bottom: 2rem;
}
#page-content .coming-soon #mc_embed_signup #mce-responses {
  margin-left: 0px;
  padding-left: 0px;
}
#page-content .coming-soon #mc_embed_signup #mce-responses .response {
  position: relative;
  top: 0.5rem;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2.5rem;
}
#page-content .coming-soon #mc_embed_signup form {
  padding: 0;
}
#page-content .coming-soon #mc_embed_signup form #mc_embed_signup_scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 15rem;
}
@media only screen and (max-width: 970px) {
  #page-content .coming-soon #mc_embed_signup form #mc_embed_signup_scroll {
    display: block;
    height: auto;
  }
}
#page-content .coming-soon #mc_embed_signup form input[type=text],
#page-content .coming-soon #mc_embed_signup form input[type=email] {
  background: #faf8f8;
  border-radius: 0;
  border: 2px solid #623ef9;
}
#page-content .coming-soon #mc_embed_signup form ::-webkit-input-placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  margin-top: 10px;
  color: #623ef9;
  text-align: center;
}
#page-content .coming-soon #mc_embed_signup form ::-moz-placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  margin-top: 10px;
  color: #623ef9;
  text-align: center;
}
#page-content .coming-soon #mc_embed_signup form :-ms-input-placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  margin-top: 10px;
  color: #623ef9;
  text-align: center;
}
#page-content .coming-soon #mc_embed_signup form div.mce_inline_error {
  position: relative;
  height: 35px !important;
}
#page-content .coming-soon #mc_embed_signup form .clear {
  width: 100%;
  margin-top: -5rem;
}
@media only screen and (max-width: 970px) {
  #page-content .coming-soon #mc_embed_signup form .clear {
    margin-top: 0px;
  }
}
#page-content .coming-soon #mc_embed_signup form .clear #mc-embedded-subscribe {
  background: #faf8f8;
  width: 30%;
  font-size: 0.6em;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: #623ef9;
  margin-right: 1.5rem;
  height: 55px;
  display: inline-block;
  margin-right: 20px;
  border: 2px solid #623ef9;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 0px #271d66;
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
#page-content .coming-soon #mc_embed_signup form .clear #mc-embedded-subscribe > * {
  height: 55px;
}
@media only screen and (max-width: 970px) {
  #page-content .coming-soon #mc_embed_signup form .clear #mc-embedded-subscribe {
    width: 100%;
    margin-bottom: 2rem;
  }
}
#page-content .coming-soon #mc_embed_signup form .clear #mc-embedded-subscribe:hover {
  box-shadow: 3px 3px 0px #271d66;
}
#page-content .coming-soon #mc_embed_signup form select {
  border: 2px solid #623ef9;
  height: 47px;
}
#page-content .coming-soon #mc_embed_signup form .mc-field-group {
  background: #faf8f8;
  width: 30%;
  font-size: 0.6em;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: #623ef9;
  margin-right: 1.5rem;
  height: 55px;
}
#page-content .coming-soon #mc_embed_signup form .mc-field-group > * {
  height: 55px;
}
@media only screen and (max-width: 970px) {
  #page-content .coming-soon #mc_embed_signup form .mc-field-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
#page-content .coming-soon .social-media {
  width: 100%;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 0.6em;
}
#page-content .coming-soon .social-media a {
  height: 55px;
  display: inline-block;
  margin-right: 20px;
  border: 2px solid #623ef9;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 0px #271d66;
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
  width: 30%;
  margin-bottom: 2rem;
  padding-top: 5px;
}
#page-content .coming-soon .social-media a:hover {
  box-shadow: 3px 3px 0px #271d66;
}
@media only screen and (max-width: 970px) {
  #page-content .coming-soon .social-media a {
    width: 100%;
  }
}
.input-placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  margin-top: 10px;
  color: #623ef9;
  text-align: center;
}
.box-shadow-box {
  height: 55px;
  display: inline-block;
  margin-right: 20px;
  border: 2px solid #623ef9;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 0px #271d66;
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
.box-shadow-box:hover {
  box-shadow: 3px 3px 0px #271d66;
}
