@import "fonts.less";
@import "variables.less";
@import "helpers.less";

@large-font: 3.07rem; //43px
@medium-font: 1.36rem; //19px

/* default settings (layout only, NOT for typographic details) */
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: @purple;
}

html{
	.body-font;

	font-size: 14px;
	color: @dark-purple;
}

body{
	overflow-x: hidden;
	background: @white url(img/ual-futures-dot-background.png);
}


/* default typography presets */


h1{
	.title-font;

	font-size: @large-font;
}

h2{
	.title-font;

	font-size:2rem;
}

h3{
	.title-font;

	font-size: calc(@large-font / 2);
	font-weight: bold;
}

p{
	a:link{
		text-decoration: underline;
	}

	a:hover{
		text-decoration: none;
	}
}



/* custom modifications */
@import "header.less";
@import "footer.less";

#page-content{
	width: 75vw;
	padding: 0 10px;
	margin: 0 ~"calc(12.5% - 10px)";
	margin-top: 165px;

	@media @small{
		margin: 0 auto;
		margin-top: 90px;
		width: ~"calc(100vw - 20px)";
	}

	&.home-page{
		margin-top: -10px;

		@media @small{
			margin-top: 80px;
		}
	}

	&.search-page{
		background-color: @light-green;
		width: 100%;
		min-height: 100vh;
		margin: 0;
		padding-top: 60px;
	}

	.main-lists{
		.page-name{
			margin-top: 0;
			text-align: center;
		}

		.page-description{
			text-align: center;
			font-size: @medium-font;
			line-height: 78px;
			height: 82px;
			padding-top: 4px;
			color: @purple;
			border: @purple 2px solid;

			@media @medium{
				display: none;
			}
		}

		.slideshow{
			width: 100%;
			height: ~"calc((75vw / 3 - 20px) * 1.5 + 20px)";
			margin-bottom: 20px;

			@media @small{
				width: 100%;
				height: ~"calc(75vw - 50px)";
			}

			.slide{
				display: block;
				width: 100%;
				height: ~"calc((75vw / 3 - 20px) * 1.5 + 20px)";
				background-color: @dark-purple;
				text-align: center;
				overflow: hidden;

				@media @small{
					height: ~"calc(75vw - 50px)";
				}

				h1{
					position: relative;
					transform: translateY(-50%);
					top: 50%;
					color: @light-green;
					margin: 0 15rem;

					@media @large{
						margin: 0 6rem;
						font-size: 2rem;
					}

					@media @small{
						font-size: 2rem;
					}

					@media @x-small{
						padding: 0 1rem;
						font-size: 1.5rem;
						margin: 0 auto;
					}
				}

				img{
					display: inline-block;
					// filter: url("#purple");
					min-width: 100%;
					min-height: 100%;
				}
			}

			.slick-dots{
				z-index: 10;
				bottom: 1rem;

				li{
					margin: 0 0.5rem;

					&.slick-active{

					}

					button{
						&:before{
							color: @light-green;
							font-size: 1rem;
						}
					}
				}
			}

			.slick-arrow{
				position: absolute;
				top: 50%;
				// transform: translateY(-50%);
				z-index: 10;
				cursor: pointer;
				width: 1.5rem;
				height: auto;

				@media @small{
					width: 0.8rem;
				}
			}

			.prev{
				transform: translate(-150%, -50%);
			}

			.next{
				right: 0;
				transform: translate(150%, -50%);
			}
		}

		.grid{
			margin-bottom: 5rem;

			.grid-item{
				.secondary-font;

				background-color: @light-green;
				color: @dark-purple;
				margin-bottom: 20px;
				padding: 20px;
				width: ~"calc(75vw / 3 - 20px)";
				min-width: 200px;
				height: ~"calc((75vw / 3 - 20px) * 0.75)";
				cursor: pointer;

				@media @small{
					width: 100%;
					height: ~"calc(75vw - 20px)";
				}

				&.bg-light-blue{
					background-color: @light-blue;
				}

				&.bg-light-green{
					background-color: @light-green;
				}

				&.bg-light-purple{
					background-color: @light-purple;
				}

				&.bg-light-grey{
					background-color: @light-grey;
				}

				&.bdr-light-green{
					background-color: rgba(255, 255, 255, 0);
					border: 4px solid @light-green;
				}

				&.bdr-light-blue{
					background-color: rgba(255, 255, 255, 0);
					border: 4px solid @light-blue;
				}


				&.level-0{
					.card-title{
						text-align: left;

						.title{
							margin-top: 0;

							@media @small{
								font-size: 2.1rem;
							}

							@media @x-small{
								font-size: 1.5rem;
							}
						}

						.subtitle{
							display: none;
						}
					}
				}

				&.level-1{
					height: ~"calc((75vw / 3 - 20px) * 1.5 + 20px)";

					@media @small{
						width: 100%;
						height: ~"calc(75vw - 20px)";
					}

					.card-title{
						position: relative;
						top: ~"calc(50% - 20px - 1rem)";
						transform: translateY(-50%);

						.title{
							font-size: 3.1rem;

							@media @large{
								font-size: 2.1rem;
							}

							@media @x-small{
								font-size: 1.5rem;
							}
						}
					}
				}

				&.level-2{
					width: ~"calc((75vw / 3) * 2 - 20px)";
					min-width: 400px;
					height: ~"calc((75vw / 3 - 20px) * 1.5 + 20px)";

					@media @small{
						min-width: 0;
						width: 100%;
						height: ~"calc(75vw - 20px)";
					}

					.card-title{
						position: relative;
						top: ~"calc(50% - 20px - 1rem)";
						transform: translateY(-50%);

						.title{
							font-size: 3.1rem;

							@media @large{
								font-size: 2.1rem;
							}

							@media @x-small{
								font-size: 1.5rem;
							}
						}
					}
				}

				&:hover{
					background-color: @purple !important;
					color: @white !important;

					a{
						color: @white !important;
					}

					.bg-image-container{
						display: none;
					}
				}

				&.with-bg-image{
					color: @light-green;
					background-color: rgba(0,0,0,0);
				}

				.bg-image-container{
					position: absolute;
					height: 100%;
					width: 100%;
					overflow: hidden;
					transform: translate(-20px, -20px);
					z-index: -5;
					text-align: center;

					.bg-image{
						display: inline-block;
						min-height: 100%;
						min-width: 100%;
						margin-left: 50%;
						transform: translateX(-50%);
						// filter: url("#purple");
					}
				}

				.card-category{
					margin-top: 0;
					margin-bottom: 25px;
					z-index: 5;
					text-decoration: underline;

					&:hover{
						color: @dark-purple;
					}
				}

				.card-title{
					text-align: center;

					.title{
						.title-font;
						font-size: 2rem;
						margin-bottom: 0;

						@media @large{
							font-size: 1.5rem;
						}
					}

					.subtitle{
						.title-font;
						margin-top: 1rem;
					}
				}

				.card-subtext{
					position: absolute;
					bottom: 0;
					width: 90%;

					.card-tag{
						&:hover{
							color: @dark-purple;
						}
					}
				}
			}

			@import "directoryGrid.less";
		}
	}

	.secondary-header{
		.secondary-font;

		width: 100%;
		padding-bottom: 2rem;
		font-size: 1.5rem;

		span a{
			color: @dark-purple;
		}

		.subcategory{
			margin-right: 3rem;

			@media @small{
				margin-right: 1rem;
			}
		}

		.search-topic{
			float: right;
		}
	}

	.post-content{
		margin-bottom: 100px;

		@import "posts/all.less";
	}

	@import "about.less";
	@import "subscribe.less";
	@import "studio.less";
	@import "search.less";
}

#custom-filter{
	display: none;
}