@import "fonts.less";
@import "variables.less";

@large-font: 3.07rem; //43px
@medium-font: 1.36rem; //19px

/* default settings (layout only, NOT for typographic details) */
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #fff;
}

html{
	.body-font;

	font-size: 14px;
	color: @text-color;
}

body{
	overflow-x: hidden;
	// background: @primary-color url(img/ual-futures-dot-background.png);
}


/* default typography presets */


h1{
	.title-font;

	font-size: @large-font;
}

h2{
	.title-font;

	font-size:2rem;
}

p{
	a:link{
		text-decoration: underline;
	}

	a:hover{
		text-decoration: none;
	}
}



/* custom modifications */
@import "header.less";

#page-content{
	width: 75%;
	padding: 0 10px;
	margin: 0 ~"calc(12.5% - 10px)";
	margin-top: 165px;

	.page-name{
		margin-top: 0;
		text-align: center;
	}

	.page-description{
		text-align: center;
		font-size: @medium-font;
		line-height: 78px;
		height: 82px;
		padding-top: 4px;
		color: @purple;
		border: @purple 1px solid;
	}

	.grid{
		.grid-item{
			.secondary-font;

			background-color: @light-green;
			color: @dark-purple;
			margin-bottom: 20px;
			padding: 20px;
			width: ~"calc(100% / 3 - 13px)";
			min-width: 200px;
			height: 200px;
			cursor: pointer;

			&.level-0{
				.card-title{
					text-align: left;

					.title{
						margin-top: 0;
					}

					.subtitle{
						display: none;
					}
				}
			}

			&.level-1{
				height: 420px;

				.card-title{
					position: relative;
					top: ~"calc(50% - 20px - 1rem)";
					transform: translateY(-50%);
				}
			}

			&.level-2{
				width: ~"calc((100% / 1.5) - 7px)";
				min-width: 400px;
				height: 420px;

				.card-title{
					position: relative;
					top: ~"calc(50% - 20px - 1rem)";
					transform: translateY(-50%);
				}
			}

			&:hover{
				background-color: @purple;
				color: @white;

				a{
					color: @white;
				}
			}

			&.with-bg-image{
				color: @secondary-text-color;

				a{
					color: @secondary-text-color;
				}
			}

			a{
				color: @dark-purple;
			}

			.card-category{
				margin-top: 0;
				margin-bottom: 25px;
			}

			.card-title{
				.title-font;

				text-align: center;

				.title{
					font-size: 2rem;
					margin-bottom: 0;
				}

				.subtitle{
					margin-top: 1rem;
				}
			}

			.card-subtext{
				position: absolute;
				bottom: 0;
				width: 90%;
			}
		}
	}
}

