@import "fonts.less";
@import "variables.less";

/* default settings (layout only, NOT for typographic details) */
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #fff;
}

body{
	overflow-x: hidden;
	font-family: @text-font;
	color: @text-color;
	font-size: 16pt;
	background: @primary-color url(img/ual-futures-dot-background.png);
}


/* default typography presets */


h1{
	font-family: @display-font;
	font-size: 3em;
}

h2{
	font-family: @display-font;
	font-size:2em;
}

p{
	a:link{
		text-decoration: underline;
	}

	a:hover{
		text-decoration: none;
	}
}



/* custom modifications */
#page-header{
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 80px;
	padding: 0px;
	background: @secondary-color;
	z-index: 9999;
	color: #fff;

	.ual{
		display: block;

		@media @small{
			display: inline-block;
		}

		img{
			position: absolute;
			top: 23px;
			margin-left: 1.5rem;
			width: 65px;
			height: auto;
			display: inline-block;

			@media @small{
				position: relative;
				top: 0px;
			}
		}
	}

	.logo{
		font-family: @display-font;
		font-weight: bold;
		font-size: 37px;
		line-height: 30px;
		margin: 0 auto;
		margin-top: 26px;
		width: 75%;
		max-width: 1100px;

		@media @small{
			width: 200px;
			display: inline-block;
		}
	}

	.social-media{
		position: absolute;
		right: 0px;
		top: 1.7rem;
		margin-right: 3rem;

		a{
			margin-right: 0.5rem;
		}

		.icon-link{
			@media @x-small{
				display: none;
			}
		}

		.menu-burger{
			
		}
	}
}

#page-content{
	width: 100%;

	.gif-popup{
		display: none;
		position: absolute;
		top: 270px;
		left: 200px;
		
		img{
			width: auto;
			height: 50vh;
		}
	}

	.coming-soon{
		font-family: @display-font;
		font-weight: bold;
		margin: 0 auto;
		font-size: 30px;
		line-height: 40px;
		letter-spacing: 0.02em;
		margin-top: 120px;
		width: 75%;
		max-width: 1100px;

		@media @small{
			width: 80%;
		}

		p em{
			font-style: normal;
			color: @secondary-text-color;
		}

		#mc_embed_signup{
			clear: left;
			padding-bottom: 2rem;

			.overlay{
				display: none;
				position: fixed;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
				background-color: @primary-color;
				opacity: 0.5;
			}

			#mce-responses{
				position: fixed;
				width: 100%;
				height: auto;
				left: 0;
				top: 40vh;
				margin: 0 auto;
				padding-left: 0px;
				cursor: pointer;

				.response{
					.drop-shadow-box;

					background-color: @primary-color;
					position: relative;
					width: 50%;
					height: auto;
					top: 0.5rem;
					font-family: @secondary-font;
					font-weight: normal;
					font-size: 1rem;
					line-height: 1.2rem;
					margin-left: 25%;
					margin-bottom: 2.5rem;
					padding: 1rem;

					a{
						color: @secondary-text-color;
					}
				}
			}

			form{
				padding: 0;

				#mc_embed_signup_scroll{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;
					height: 15rem;

					@media @medium{
						display: block;
						height: auto;
					}
				}

				input[type=text], input[type=email]{
					background: @primary-color;
					border-radius: 0;
					border: 2px solid @text-color;
				}
				::-webkit-input-placeholder {
					.input-placeholder;
				}

				::-moz-placeholder {
					.input-placeholder;
				}

				:-ms-input-placeholder {  
					.input-placeholder;  
				}

				div.mce_inline_error{
					position: relative;
					color: @text-color;
					background-color: @text-color;
					color: #fff;
				}

				.clear{
					width: 100%;
					margin-top: -5rem;

					@media @medium{
						margin-top: 0px;
					}

					#mc-embedded-subscribe{
						.mc-field-group;
						.drop-shadow-box;
					}
				}

				select{
					border: 2px solid @text-color;
					height: 47px;
				}

				.mc-field-group{
					background: @primary-color;
					width: 30%;
					font-size: 0.6em;
					font-family: @secondary-font;
					font-weight: normal;
					text-align: center;
					color: @text-color;
					
					margin-right: 1.5rem;
					height: 55px;

					&>*{
						height: 55px;
					}

					@media @medium{
						width: 100%;
						margin-bottom: 2rem;
					}
				}
			}
		}
	}
}

.input-placeholder{
	font-family: @secondary-font;
	font-weight: normal;
	font-size: 1em;
	margin-top: 10px;
	color: @text-color;
	text-align: center;
}

.drop-shadow-box{
	height: 55px;
	display: inline-block;
	
	margin-right: 20px;
	border: 2px solid @text-color;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;
	
	box-shadow: 5px 5px 0px @text-color;

	transition: all 0.1s ease;

	&:hover{
		box-shadow: 3px 3px 0px @text-color;
	}
}

