@black: #000;
@purple: #623ef9;
@dark-purple: #271e68;
@light-grey: #faf8f8;
@light-green: #c9fee8;

@primary-color: @light-grey;
@secondary-color: @purple;
@text-color: @purple;
@secondary-text-color: @dark-purple;

@x-small: ~"only screen and (max-width: 470px)";
@small: ~"only screen and (max-width: 700px)";
@medium: ~"only screen and (max-width: 970px)";
@large: ~"only screen and (max-width: 1300px)";
@retina: ~"only screen and (min-width: 2880px)";