<footer id="page-footer">
	<section class="footer-container">
		<div class="social-media">
			<a href="javascript:var%20d=document,f='http://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1256828844&u='+e(l.href)+'&t='+e(d.title);1;try%7Bif%20(!/%5E(.*%5C.)?facebook%5C.%5B%5E.%5D*$/.test(l.host))throw(0);share_internal_bookmarklet(p)%7Dcatch(z)%20%7Ba=function()%20%7Bif%20(!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p%7D;if%20(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%7Ba()%7D%7Dvoid(0)">
				<span id="share-facebook">
					<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				</span>
			</a>

			<a href="javascript:%28function%28%29%7Bwindow.twttr%3Dwindow.twttr%7C%7C%7B%7D%3Bvar%20D%3D550%2CA%3D450%2CC%3Dscreen.height%2CB%3Dscreen.width%2CH%3DMath.round%28%28B%2F2%29-%28D%2F2%29%29%2CG%3D0%2CF%3Ddocument%2CE%3Bif%28C%3EA%29%7BG%3DMath.round%28%28C%2F2%29-%28A%2F2%29%29%7Dwindow.twttr.shareWin%3Dwindow.open%28%27https%3A%2F%2Ftwitter.com%2Fshare%27%2C%27%27%2C%27left%3D%27%2BH%2B%27%2Ctop%3D%27%2BG%2B%27%2Cwidth%3D%27%2BD%2B%27%2Cheight%3D%27%2BA%2B%27%2Cpersonalbar%3D0%2Ctoolbar%3D0%2Cscrollbars%3D1%2Cresizable%3D1%27%29%3BE%3DF.createElement%28%27script%27%29%3BE.src%3D%27https%3A%2F%2Fplatform.twitter.com%2Fbookmarklets%2Fshare.js%3Fv%3D1%27%3BF.getElementsByTagName%28%27head%27%29%5B0%5D.appendChild%28E%29%7D%28%29%29%3B">
				<span id="share-twitter">
					<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
				</span>
			</a>
		</div>

		<div class="newsletter">
			<a href="">Subscribe to Newsletter</a>
		</div>
	</section>
</footer>