<header id="page-header">
    <div class="main-header">
        <section class="full-width-container">
            <div class="ual"><a href="/">{{> ual.svg }}</a></div>

            <div class="nav-container">
                <div class="logo">
                    <a href="/">{{> logo.svg }}</a>
                </div>

                <nav class="main-nav">
                    <span id="media"><a href="./#media">Media</a></span>
                    <span id="studio"><a href="./#studio">Studio</a></span>
                    <span id="about"><a href="./about.html">About</a></span>
                    <span id="search"><a href="./#search=">{{> search-button.svg }}</a></span>
                </nav>
            </div>

            <div class="mobile-menu-toggle">
                <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
            </div>
        </section>

        <section class="nav-dropdown">
            <div class="dropdown-container">
                <div class="sub-menu">
                    <span><a href="./#media/events">Events</a></span>
                    <span><a href="./#media/opportunities">Jobs &amp; Opportunities</a></span>
                    <span><a href="./#media/directory">Directory</a></span>
                    <span><a href="./#media/features">Features</a></span>
                </div>
            </div>
        </section>

        <section class="nav-dropdown-studio">
            <div class="dropdown-container">
                <div class="sub-menu">
                    <span><a href="./#studio/register">Register</a></span>
                    <span><a href="./#studio/methods">Methods</a></span>
                </div>
            </div>
        </section>

        <section class="mobile-menu">
            <ul class="tier-0">
                <li><a href="./#media">Media</a></li>
                <li>
                    <ul class="tier-1">
                        <li><a href="./#media/events">Events</a></li>
                        <li><a href="./#media/opportunities">Jobs &amp; Opportunities</a></li>
                        <li><a href="./#media/directory">Directory</a></li>
                        <li><a href="./#media/features">Features</a></li>
                    </ul>
                </li>
                <li><a href="./#studio">Studio</a></li>
                <li>
                    <ul class="tier-1">
                        <li><a href="./#studio/register">Register</a></li>
                        <li><a href="./#studio/method">Method</a></li>
                    </ul>
                </li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./#search=">Search</a></li>
            </ul>
        </section>
    </div>

    <div class="home-header hide">
        <section class="full-width-container">
            <div class="nav-container">
                <div class="ual"><a href="/">{{> ual.svg }}</a></div>
                <div class="logo">
                    <a href="/">{{> logo.svg }}</a>
                </div>
                <div class="home-menu">
                    <p class="menu-button">Menu</p>
                    <span id="search"><a href="./#search=">{{> search-button.svg }}</a></span>
                </div>
            </div>
        </section>
    </div>
</header>
