<header id="page-header">
    <section class="full-width-container">
        <div class="ual"><a href="http://www.arts.ac.uk/"><img src="./images/ual-logo.png"></a></div>

        <div class="nav-container">
            <div class="logo">
                {{> logo.svg }}
            </div>

            <nav class="main-nav">
                <span>Media</span>
                <span>Studio</span>
                <span>About</span>
            </nav>
        </div>
    </section>

    <section class="nav-dropdown">
        <div class="dropdown-container">
            <div class="breadcrumbs">

            </div>
        </div>
    </section>
</header>
