<header id="page-header" class="large">
    <section class="full-width-container">
        <div class="ual"><a href="http://www.arts.ac.uk/"><img src="./images/ual-logo.png"></a></div>

        <div class="nav-container">
            <div class="logo">
                <a href="/">{{> logo.svg }}</a>
            </div>

            <nav class="main-nav">
                <span id="media"><a href="#media">Media</a></span>
                <span id="studio"><a href="#studio">Studio</a></span>
                <span id="about"><a href="./about.html">About</a></span>
            </nav>
        </div>
    </section>

    <section class="nav-dropdown">
        <div class="dropdown-container">
            <div class="sub-menu">
                <span><a href="#">Events</a></span>
                <span><a href="#">Jobs &amp; Opportunities</a></span>
                <span><a href="#">Directories</a></span>
                <span><a href="#features">Features</a></span>
            </div>
        </div>
    </section>
</header>
