<input type="text" name="search-field" id="search-field" placeholder="Search" value="" maxlength="50" />

<div class="all-tags">
	{{!-- <span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span>
	<span class="tag">Lorem</span> --}}
</div>