<section class="intro">
	<h1>Studio</h1>

	<div class="intro-content">
		<p>A cross-disciplinary studio delivering challenge- driven learning experiences exploring the futures of technology, learning and creativity. Launching soon.</p>

		<p>Students and graduates, register for the studio and wait for the first challenge.</p>

		<p>Industry and academics, share your secret sauce and support students digital creativity.</p>
	</div>

	<div class="intro-buttons">
		<a href="#studio/register">Register Your Interest</a>
		<a href="#studio/method">Explore Method</a>
	</div>
</section>

<section class="register hide">
	<form class="registration-form">
		<fieldset>
			<legend><h1>Studio: Register</h1></legend>

			<p>
				<label for="name">Name:</label><br>
				<input type="text" name="name" id="name">
			</p>

			<p>
				<label for="surname">Surame:</label><br>
				<input type="text" name="surname" id="surname">
			</p>

			<p class="radio-buttons">
				<label for="role-1" id="student-graduate">
					<input type="radio" name="role" id="role-1" value="student_graduate">Student/Graduate
				</label>

				<label for="role-2" id="industry-academia">
					<input type="radio" name="role" id="role-2" value="industry_academia">Industry/Academia
				</label>
			</p>

			<p>
				<label for="college">College/Organisation</label><br>
				<input type="text" name="college" id="college">
			</p>

			<p>
				<label for="email">Email:</label><br>
				<input type="email" name="email" id="email">
			</p>

			<input type="submit" name="submit" value="Register Your Interest">
		</fieldset>
	</form>
</section>

<section class="method hide">
	<div class="method-intro">
		<h1 class="title">Studio: Method</h1>

		<div class="flex-items method-name"></div>
		<div class="clearfix"></div>

		<p class="flex-items method-intro-content">
		</p>

		<p class="flex-items method-intro-content">
		</p>
	</div>

	<div class="graphics">
		{{> studioMethods.svg }}
	</div>

	<div class="method-content grid">

	</div>
</section>
